extends layout
block title
    |Index
block content
  .jumbotron
     h1
        small
            del
                |"Forgot My Commitments"
        |Use YATMON!
     p.lead
        |This is just a proof of concepts, but totally useful. With YATMON you won't forget your commitments or special dates...
        |In the next time, we'll improve it with a login/auth system. :]
     p
        a.btn.btn-lg.btn-success(href=url_for("newTask"), role="button")
            |I wanna try it!
