{% extends "layout.html" %}
{% block title %}
    YATMON - Home
{% endblock %}
{% block content %}
      <div class="jumbotron">
        <h1><del>Forget My Compromises</del> Use YATMON!</h1>
        <p class="lead">This is just a proof of concepts, but totally useful.
         With YATMON you won't forget your compromises or special dates...
         Create your user right now and enjoy it!</p>
        <p><a class="btn btn-lg btn-success" href="{{ url_for('signup')}}" role="button">Sign up today</a></p>
      </div>
{% endblock %}