{% extends "layout.html" %}

{% block title %}YATMON - Home{% endblock %}

{% block menu_item_1%}<a href="{{ url_for('index') }}" >Home</a>{%endblock%}
{% block menu_item_2%}<a href="{{ url_for('project') }}">Source Code</a>{%endblock%}

{%block text_muted %}Yet Another Task list with MongoDB{%endblock%}

{% block content %}
    <div class="jumbotron">
    <h1><del>Forget My Commitments</del> Use YATMON!</h1>
    <p class="lead">
        This is just a proof of concepts, but totally useful. With YATMON you won't forget your commitments or special dates...
        In the next time, we'll improve it with a login/auth system. :]
    </p>
    <p>
        <a class="btn btn-lg btn-success" href="#" role="button">I wanna try it!
        </a>
    </p>
    </div>
{% endblock %}
